* {
	margin: 0;
	font-family: Inter Tight, sans-serif;
}

#Title {
	text-align: center;
	font-weight: 700;
	font-size: 1.75em;
}

#MainContainer {
	padding: 30px;
}

#Container_Content{
	padding-top: 30px;
	width:100%;
 	text-align:center;
 	display: inline-block;
}

#Cards {
	border-style: solid;
	width: 30%;
	box-sizing: border-box;
	margin-bottom: 10px;
}

#Container_Content > #Cards {
	display: inline-block;
	vertical-align: top;   
	box-sizing: border-box;
}

@media (min-width: 767px) and (max-width: 992px) {
	#Cards {
		min-width: 45%;
		display: inline-block;
	}
}

@media (max-width: 766px) {
	#Cards {
		width:100%;
	}
}

#TitleCardChicken {
	background-color: salmon;
	border-bottom-style: solid;
	text-align: right;
	padding-right: 8px;
}

#TitleCardBeef {
	background-color: darkslategray;
	border-bottom-style: solid;
	text-align: right;
	padding-right: 8px;
}

#TitleCardSushi {
	background-color: beige;
	border-bottom-style: solid;
	text-align: right;
	padding-right: 8px;
}

p {
	font-weight: 500;
	text-align: left;
	font-size: 1em;
	padding: 10px;
}
